@charset "utf-8";

body{
  margin: 0;
  background-color: #D0D0D0;
}

.content_wrapper{
  width: 80%;
  margin: 0px auto;
}

.title{
  text-align: center;
}

h1{
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  color: #4B4A4B;
  margin: 10px 0;
  letter-spacing: 0.2em;
}

h2{
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #808080;
  margin: 5px 0 50px 0;
  letter-spacing: 0.2em;
}

h3{
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #4B4A4B;
  position: relative;
  margin: 50px 0;
  letter-spacing: 0.2em;
  text-align: center;
}

h3::before{
  background-color: #4B4A4B; /* 線の色 */
  border-radius: 5px; /* 線の両端を丸く */
  bottom: -10px; /* 線の位置 */
  content: "";
  height: 2px; /* 線の高さ */
  left: 50%; /* 線の中央寄せ */
  position: absolute;
  transform: translateX(-50%); /* 線の中央寄せ */
  width: 120px; /* 線の長さ */
}

h3::before{
  background-color: #4B4A4B; /* 線の色 */
  border-radius: 5px; /* 線の両端を丸く */
  bottom: -10px; /* 線の位置 */
  content: "";
  height: 2px; /* 線の高さ */
  left: 50%; /* 線の中央寄せ */
  position: absolute;
  transform: translateX(-50%); /* 線の中央寄せ */
  width: 60px; /* 線の長さ */
}

h4{
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  color: #4B4A4B;
  margin: 10px 0 30px 0;
  letter-spacing: 0.2em;
  line-height: 1.7em;
}

p{
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #4B4A4B;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  padding: 10px 0;
  margin: 0;
}

.text{
  border-top: 1px solid #4B4A4B;
  border-bottom: 1px solid #4B4A4B;
  margin: 10px 0;
  padding: 10px 0;
}

.footer{
  padding: 40px 0 70px 0;
  display: flex;
}

.footer h2{
  text-align: right;
  margin: auto 0 0 auto;
  color: #4B4A4B;
  font-size: 10px;
}

.footer h4{
  margin: 0;
  padding: 0;
  font-size: 5px;
}

/* スクロール */
.fadein {
  opacity : 0;
  transform : translate(0, 50px);
  transition:all 2s;
}

.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}

.markfadein {
  animation-name: markfadein;
  animation-duration: 2s;
  animation-iteration-count: infinite;
/*   transform: translateY(20px); */
}
@keyframes markfadein {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

/*========= レイアウトのためのCSS ===============*/

#header{
width:100%;
height: 100vh;
position: relative;
} 

#header img{
  position: fixed;
  top: 68%;
  right: 4%;
  z-index:-1;
}

#header:before{
content: '';
position:fixed;
left:0;
z-index:-1;
width:100%;
height: 100vh;
/*背景画像設定*/
background:url("../spimg/movie_SP_background.gif") no-repeat center;
background-size:cover;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}

.container{
  position: relative;
  z-index: -1;
  background:#ffffff;
  padding-top: 7px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  }
  
  @media screen and (max-width:768px){
    #header,
    #header:before{
    height: 80vh;  
    }
  }
