@charset "utf-8";

body{
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../pcimg/portfolio_backgroundimg12.jpg);
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::-webkit-scrollbar{
  display: none;
}

main{
  display: none;
  margin: 0 auto;
}

footer{
  display: none;
}

/* 動画の設定 */
#opv-wrap {
  display: none;
}

video#opv {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  vertical-align: bottom;
}

.back{
  position: absolute;
  top: 35px;
  right: 40px;
  padding: 3px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255 , 0.3);
}

a{
  text-decoration: none;
  display: flex;
}

.back p{
  color: white;
  font-family: 'Josefin Sans';
  letter-spacing: 0.2em;
  font-size: 12px;
  padding-top: 8px;
  padding-right: 15px;
}

.back img{
  padding: 5px 15px;
  display: inline-block;
}

.back:hover{
  background-color: #007AFF;
}

.file_wrapper{
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 90%;
  /*コレ*/
  transform: translate(-50%,-50%);
  display: flex;
}

.file01{
  text-align: center;
  display: inline-block;
  margin: 0 60px;
  display: none;
}

.file02{
  text-align: center;
  display: inline-block;
  margin: 0 60px;
  display: none;
}

.file03{
  text-align: center;
  display: inline-block;
  margin: 0 60px;
  display: none;
}

p{
  font-size: 10px;
  color: white;
  font-family: 'Josefin Sans';
  letter-spacing: 0.2em;
  padding: 3px;
  margin: 0;
}

.file_wrapper input{
  padding: 10px;
}

#file{
  z-index: 2;
  position: relative;
  visibility: hidden; 
  text-align: center;
  margin-top: 50px;
}

.inframe{
  display: inline-block;
}

#close{
  z-index: 3;
  position: absolute;
  top: 5%; /* 上下の固定位置を上から0pxにする */
  left: 12%; /* 左右の固定位置を左から0pxにする */
}

#file {
  animation-name: popup;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}

.active input{
  border-radius: 8px;
  border: solid 1px #c4c4c4;
  background-color: rgba(0, 0, 0, 0.2);
}

.active p{
  border-radius: 3px;
  background-color: #007AFF;
  color: #ffffff;
}
