@charset "utf-8";

/* 共通 */
body{
  margin: 0;
}

h1{
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  color: #4B4A4B;
  letter-spacing: 0.1em;
  margin: 0;
}

h2{
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #808080;
  letter-spacing: 0.1em;
}

a{
  letter-spacing: 0.1em;
  color: #808080;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

a:hover{
  opacity: 0.5;
}

p{
  font-size: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.1em;
  color: #4B4A4B;
  padding: 10px 0;
  line-height: 2em;
  margin: 0;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.url{
  display: flex;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: 10px;
  margin: 10px 0;
}

.url_link{
  font-weight: bold;
  margin: 0 0 0 auto;
  color: #808080;
}

.content{
  padding: 60px 0;
}

.fadein {
  opacity : 0;
  transform : translate(0, 50px);
  transition:all 2s;
}

.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}

/*スクロールダウン全体の場所*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
right:5%;
bottom:50px;
  /*全体の高さ*/
height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-5px;
top: -50px;
  /*テキストの形状*/
color: #4B4A4B;
font-size: 0.7rem;
letter-spacing: 0.2em;
font-size: 9px;
writing-mode: vertical-rl;
font-family: 'Josefin Sans', sans-serif;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 40px;
background: #4B4A4B;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:40px;
  opacity: 1;
}
100%{
  height:0;
  top:80px;
  opacity: 0;
}
}

/*========= レイアウトのためのCSS ===============*/


#header{
width:100%;
height: 100vh;
position: relative;
} 

#header:before{
content: '';
position:fixed;
top:0;
left:0;
z-index:-1;
width:100%;
height: 100vh;
/*背景画像設定*/
background:url("../pcimg/w02_kv.jpg") no-repeat center;
background-size:cover;
}

.container{
position: relative;
z-index:1;
background:#ffffff;
padding-top: 60px;
}

@media screen and (max-width:768px){
  #header,
  #header:before{
height: 90vh;    
  }
  
}